<div class="art_index"> <!--Wraps the entire article index page into a div.-->

<!--   <% articles = [] %>  This block of ruby reverses the article order so the newest ones show up first on the index page.
  <% @articles.each do |x| %>
    <% articles.unshift(x) %>
  <% end %> -->


  <% @articles.reverse.each do |article| %>

  <div class="listing"> <!-- Wraps each article listing into its own div. This includes image, title, and body text. -->

    <span class="list_img"><%= image_tag article.image.url %></span> <!-- Wraps the image in its own seperate div so it's easier to manipulate. -->

    <div class="index_wrap"> <!-- Wraps the title and body into div so they move together when hovered over. -->
      <h2><%= link_to article.title, article_path(article) %>.</h2>
      <div class="art_ind_bar"></div> <!-- This is just the white bar. -->
      <div class="hide_para"> <!-- Wraps the body text into it's seperate div so it can be moved and hidden. -->
        <%= article.text[0..256] %>
      </div>
    </div>

  </div>
  <% end %>
</div>

